{% extends 'layout.html' %}
<!-- 'layout.html' 템플릿 확장 -->

{% block content %}
    <div class="joinPage sign">
        <form id="join-form" action="auth/join" method="post">
            <p>*회원 가입</p>
            <label for=""><input type="email" placeholder="email" name="email" required autofocus></label>
            <label for=""><input type="password" placeholder="password" name="password" required></label>
            <label for=""><input type="password" placeholder="password Confirm" name="password-confirm" required></label>
            <label for=""><input type="text" placeholder="nickname" name="nickname" required></label>
            <button type="submit">회원가입</button>
            <a id="join" href="/login">로그인으로</a>
        </form>
    </div>
{% endblock %}