<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <form id="login-form" action="auth/login" method="post">
        <p>Login</p>
        <input type="email" placeholder="Email" name="email" required autofocus>
        <input type="password" placeholder="password" name="password" required>

        <button type="submit">로그인</button>
        <a id="join" href="/join">회원가입</a>
    </form>
</body>
</html>